# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-2019'

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.0.100-preview6-012264'
    includePreviewVersions: true
#- task: AutoAppVersion@1
#  inputs:
#    ProjectFile: 'src\ElectronNET.Blazor\ElectronNET.Blazor.csproj'
#    VersionVariable: 'AutoVersion'
#    DevOpsPAT: '$(AzurePAT)'
#    SetAssemblyVersion: false
#    SetFileVersion: false
#    StopOnNoMask: false
#    StopOnDowngrade: false
#    StopOnInvalidEVarName: false
#    VersionMaskOverride: '3.0.0-preview6-19307-0$'
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'src\ElectronNET.Blazor\ElectronNET.Blazor.csproj'
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)\src\packages\'
    Contents: '**'
    TargetFolder: '$(build.artifactstagingdirectory)'
    CleanTargetFolder: true
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'